@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Imprimir boletas</h1>



<form>
    <div class="row">

        <div class="col-md-3">
            <div class="form-group">
                <label for="exampleFormControlInput1">Numero de boleta</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Introduce el numero de boleta">
            </div>
            <div class="col-md-1">
                <input type="submit" class="btn button-primary" value="Aceptar" />
            </div>
</form>