@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Formulario</h1>

<body>
    <form method="post" asp-action="LlamarApi">
        <fieldset>            
            <div>
                <label for="Nombres">Nombres:</label>
                <input type="text" name="txtNombre" value="" id="txtNombre"  />
            </div>
            <p></p>
            <div>
                <label for="Apellidos">Apellidos:</label>
                <input type="text" name="Apellidos" id="Apellidos" value="" />
            </div>
            <p></p>
            <div>
                <label for="NumeroEmpleado">Número Empleado</label>
                <input type="text" name="NumeroEmpleado" id="NumeroEmpleado" value="" />
            </div>
            <p></p>
            <div>
                <label>&nbsp;</label>
                <input type="submit" value="Submit" class="submit" />
            </div>
        </fieldset>
    </form>
</body>